ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-img {
  font-size: 2rem;
  padding-right: 25px;
  color: black;
  border-radius: 48px;
}
.reddit-group {
  display: inline-flex;
  flex-direction: row;
}
.reddit-txt {
  display: inline-flex;
  font-size: 2rem;
  color: black;
}
.japan-container {
  display: flex;
  align-items: center;
}
.japan-life {
  height: auto;
  width: 50px;
}

.japanlife-txt {
  display: inline-flex;
  font-size: 2rem;
  margin-right: 2rem;
}
.search-bar {
  height: 3rem;
  width: 45rem;
  margin-top: 1.5rem;
}
.search-icon {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.popular {
  margin-top: 2.5rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}
.all {
  display: inline-flex;
  margin-left: 1rem;
}
.reddit-pan {
  display: inline-flex;
  margin-left: 1rem;
}
.button-group {
  border-right: 1px solid var(--newCommunityTheme-line);
  margin-right: 8px;
  padding-right: 8px;
}
.button-group-2 {
  margin-left: 1.5rem;
}
.notify {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: orangered;
}
.messages {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.post {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
#oval-parent {
  border-radius: 50px;
  padding: 8px 16px 6px 12px;
  border: 2px solid #ddbd37;
  background-color: white;
  color: black;
  margin-top: 2.3rem;
  margin-left: 1rem;
  text-align: center;
}
.header-user-dropdown {
  display: inline-flex;
  margin-top: 1.5rem;
  margin-left: 1rem;
  border: 1px solid #a8aaab;
  position: absolute;
  top: 0.1rem;
  height: auto;
  max-width: 15rem;
  background-color: white;
}

.profile-box span {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
.karma {
  color: #a8aaab;
  margin-top: 1.7rem;
  margin-left: 0.5rem;
}
.karma i {
  margin-left: 5rem;
}
.profile {
  height: auto;
  width: 30px;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
._2HCuqd3NYACKYaSTmrITE3 {
  display: flex;
  height: auto;
  width: 1rem;
  fill: #ff4500;
  margin-top: 1.4rem;
}
.profile-box {
  height: auto;
  max-width: 1%;
}
.background-photo {
  height: auto;
  width: 150rem;
}
.second-header {
  background-color: white;
  display: flex;
  height: auto;
  margin: 0 auto;
  width: 100%;
}
.main-body {
  background-color: #dae0e6;
  height: auto;
  width: 300rem;
  margin-top: 1rem;
  display: flex;
}
.second-japan-life-photo {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 7rem;
  margin-left: 35rem;
  padding-right: 2rem;
}
.japan-life-second {
  display: flex;
  height: auto;
  max-width: 100%;
}
.residents-h1 {
  color: var(--newRedditTheme-bodyText);
  -ms-flex: 1;
  flex: 1;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  overflow: hidden;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  width: 100%;
}
.residents-h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 18px;
  color: grey;
  display: flex;
  margin-bottom: ;
}
.join-button {
  margin-left: 1.5rem;
  margin-top: 2rem;
}
.join {
  color: #047bd4;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  padding: 0.6rem 1rem;
}
.third-header {
  display: flex;
  flex-wrap: wrap;
}
.posts {
  margin-right: 2rem;
  color: grey;
}
.wiki {
  margin-right: 2rem;
  color: grey;
}
.daily-discussions {
  margin-right: 2rem;
  color: grey;
}
.weekly-complaints {
  margin-right: 2rem;
  color: grey;
}
a:hover {
  color: #1282d6;
}
.post-box {
  display: flex;
  margin-left: 36rem;
  height: 4rem;
  width: 50rem;
  border-top: 2rem solid #dae0e6;
  background-color: white;
}
.post-box i {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 3rem;
}
.post-input {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 43rem;
}
.main-body-buttons {
  display: flex;
  margin-left: 36rem;
  margin-top: 1rem;
  background-color: white;
  height: 4rem;
  width: 50rem;
}
.main-body-buttons i {
  margin-left: 1rem;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  color: #1282d6;
  padding-right: 1rem;
}
.main-body-buttons .non-blue-main-body-buttons .fas {
  color: black;
}
._2ONLRjLuDplXKbcaS8dGe_ {
  height: 2rem;
  width: 2rem;
  margin-left: 23rem;
  margin-top: 1rem;
}
.card-menu svg {
  fill: #1282d6;
}
.user-posts {
  display: flex;
  margin-left: 36rem;
  height: auto;
  width: 50rem;
  border-top: 1rem solid #dae0e6;
  background-color: white;
}

.voting {
  background-color: #f8f9fa;
  display: flex;
}
.voting li {
  display: flex;
  flex-direction: column;
  width: 2rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.pin-icon {
  height: 10%;
}
.pin-icon ul li {
  display: flex;
}
.pin-icon .fa-thumbtack {
  color: #75d377;
  font-size: 1rem;
  margin-left: 0.7rem;
}
.pin-icon-text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0.5rem;
  font: bold;
  font-weight: 900;
  color: grey;
  width: 100%;
  cursor: pointer;
}

.poster-info {
  margin-left: 2.1rem;
  height: 20%;
  margin-top: 1rem;
  color: grey;
  cursor: pointer;
}
.actual-post {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.medical {
  border-radius: 20px;
  padding: 1px 1px 1px 1px;
  border: 2px solid rgb(214, 212, 212);
  background-color: rgb(214, 212, 212);
  color: black;
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.post-title {
  font-size: 18px;
  color: black;
  cursor: pointer;
}
.post-icons {
  display: flex;
  margin-left: 2rem;
  color: grey;
}
.post-icons .fas {
  margin-right: 1rem;
  cursor: pointer;
}
.poster-info2 {
  color: grey;
  margin-left: 2rem;
}
.post-body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wrapper-1 {
  flex-wrap: wrap;
}
.community-box {
  margin-left: 2rem;
  width: 20rem;
  background-color: #047bd4;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  height: 3rem;
  margin-top: 2rem;
}

.community-box span {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  height: auto;
  width: auto;
}
.community-box .fas {
  color: white;
  margin-left: 8rem;
  margin-right: 1rem;
  font-size: 80%;
  margin-top: 1rem;
}
.second-column {
  display: flex;
  flex-direction: column;
}
.community-box-contents {
  margin-left: 2rem;
  max-width: 20rem;
  height: auto;
  text-align: center;
  background-color: white;
  line-height: 1.5rem;
}
.community-box-contents span {
  margin-left: 1rem;
  max-width: 20rem;
}
.community-stats {
  display: flex;
  margin-left: 2rem;
  background-color: white;
  border-top: solid 1rem white;
}
.community-stats {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-right: 8rem;
  padding-left: 1rem;
}
.members {
  font-weight: 800;
}
.community-stats-2 {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-right: 7rem;
  background-color: white;
  max-width: 20rem;
  height: auto;
  margin-left: 2rem;
  padding-left: 1rem;
  border-bottom: solid 1rem white;
}
.border {
  display: flex;
  margin-left: 2rem;
  background-color: white;
  width: 20rem;
  border-top: rgb(218, 215, 215) 1px solid;
}

.birthday {
  color: black;
  height: 6%;
  width: 6%;
  justify-content: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.birthdate {
  display: flex;
  height: auto;
  width: 15rem;
  color: black;
  margin-top: 1rem;
  margin-left: 1rem;
}
.create-post-button {
  display: flex;
  background-color: white;
  width: 20rem;
  margin-left: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  justify-content: center;
  border-bottom: rgb(218, 215, 215) 1px solid;
}
.create-button-background {
  background-color: #047bd4;
  display: flex;
  text-align: center;
  color: white;
  display: block;
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 32px;
  text-transform: uppercase;
}
.community-options {
  display: flex;
  margin-left: 2rem;
  background-color: white;
  width: 20rem;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}
.community-text {
  margin-left: 1rem;
  width: 20rem;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
}
.community-options i {
  margin-right: 1rem;
}

.r-japanlife-rules {
  display: flex;
  height: 2rem;
  background-color: #ea0027;
  width: 19rem;
  margin-left: 2rem;
  color: white;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  padding-top: 1rem;
  margin-top: 2rem;
  border-radius: 3px 3px 0 0;
}
.rules {
  flex-direction: column;
  background-color: white;
  width: 20rem;
  margin-left: 2rem;
  border-radius: 3px 3px 0 0;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.rules :hover {
  cursor: pointer;
}

.post-1 {
  padding-top: 1rem;
  padding-left: 1em;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-1 i {
  margin-left: 7rem;
  padding-bottom: 1rem;
}
.post-2 {
  padding-left: 1em;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-2 i {
  padding-left: 12.2rem;
}
.post-3 {
  padding-left: 1em;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.rules .post-3 i {
  padding-left: 6rem;
  position: relative;
  bottom: 1em;
  left: 0.1em;
}
.post-4 {
  padding-left: 1em;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-4 i {
  padding-left: 2.6rem;
}
.post-5 {
  padding-left: 1em;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-5 i {
  padding-left: 8.1rem;
}
.post-6 {
  padding-left: 1em;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-6 i {
  padding-left: 8rem;
}
.post-7 {
  padding-left: 1em;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.post-7 i {
  padding-left: 11rem;
}
body {
  padding-top: 6rem;
}
header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 138rem;
}
.background-img {
  position: relative;
  right: 1rem;
  height: auto;
}
.background-photo {
  height: 13rem;
}
