ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-img {
  font-size: 2rem;
  padding-right: 25px;
  color: black;
  border-radius: 48px;
}
.reddit-group {
  display: inline-flex;
  flex-direction: row;
}
.reddit-txt {
  display: inline-flex;
  font-size: 2rem;
  color: black;
}
.japan-container {
  display: flex;
  align-items: center;
}
.japan-life {
  height: auto;
  width: 50px;
}

.japanlife-txt {
  display: inline-flex;
  font-size: 2rem;
  margin-right: 2rem;
}
.search-bar {
  height: 3rem;
  width: 45rem;
  margin-top: 1.5rem;
}
.search-icon {
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.popular {
  margin-top: 2.5rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}
.all {
  display: inline-flex;
  margin-left: 1rem;
}
.reddit-pan {
  display: inline-flex;
  margin-left: 1rem;
}
.button-group {
  border-right: 1px solid var(--newCommunityTheme-line);
  margin-right: 8px;
  padding-right: 8px;
}
.button-group-2 {
  margin-left: 1.5rem;
}
.notify {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: orangered;
}
.messages {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.post {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
#oval-parent {
  border-radius: 50px;
  padding: 8px 16px 6px 12px;
  border: 2px solid #ddbd37;
  background-color: white;
  color: black;
  margin-top: 2.3rem;
  margin-left: 1rem;
  text-align: center;
}
.header-user-dropdown {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-left: 1rem;
  border: 1px solid #a8aaab;
  position: absolute;
  top: 0.1rem;
  height: auto;
  max-width: 15rem;
}

.profile-box span {
  display: flex;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
}
.karma {
  color: #a8aaab;
  margin-top: 1.7rem;
  margin-left: 0.5rem;
}
.profile {
  height: auto;
  width: 30px;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
._2HCuqd3NYACKYaSTmrITE3 {
  display: flex;
  height: auto;
  width: 1rem;
  fill: #ff4500;
  margin-top: 1.4rem;
}
.profile-box {
  height: auto;
  max-width: 1%;
}
.background-photo {
  height: auto;
  width: 150rem;
}
